@font-face {
	font-family:Unicons;
	src:url(./Unicons.woff2) format("woff2"),url(./Unicons.woff) format("woff");
	font-weight:400;
	font-style:normal;
	font-display:block
}
@font-face {
	font-family:Custom;
	src:url(../custom/Custom.woff2) format("woff2"),url(../custom/Custom.woff) format("woff");
	font-weight:400;
	font-style:normal;
	font-display:block
}