<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'About | Stalwart Labs' ,
        description: 'Learn more about Stalwart Labs, the company behind Stalwart Mail Server. Discover our mission, vision, and values.'
        }) %>
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper bg-soft-primary !bg-[#edf2fc]">
            <%- include('include-header.ejs') %>
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#edf2fc]">
            <div
                class="container pt-10 pb-10 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-[5rem] lg:pb-[5rem] md:pb-[5rem] !text-center">
                <div class="flex flex-wrap mx-[-15px]">
                    <div class="xl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto !mb-6">
                        <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">About
                            Stalwart
                            Labs</h1>
                        <p class="lead text-[0.9rem] font-medium leading-[1.65] !mb-0">Innovative email solutions
                            driven by decades
                            of expertise.</p>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
        <section class="wrapper !bg-[#ffffff]">
            <div class="container !pb-[2.5rem] xl:!pb-10 lg:!pb-10 md:!pb-10">

                <div
                    class="flex flex-wrap mx-[-15px] md:mx-[-20px] lg:mx-[-20px] xl:mx-[-35px] mt-[-30px] items-center">
                    <div
                        class="md:w-8/12 lg:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full xl:!order-2 lg:!order-2 !mx-auto mt-[30px]">
                        <div class="img-mask"><img src="/img/clipart/about_us.png" alt="image"></div>
                    </div>
                    <!--/column -->
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[30px]">
                        <h2 class="text-[calc(1.285rem_+_0.42vw)] font-bold xl:text-[1.6rem] leading-[1.3] !mb-3">About
                            the company
                        </h2>
                        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">Stalwart Labs combines decades of
                            expertise with
                            modern technology to redefine the email server landscape.</p>


                        <p>Stalwart Labs, founded in July 2019, is committed to transforming the email server
                            industry. The development of our flagship product, Stalwart Mail Server, began in November
                            2021,
                            with the first release launched in September 2022. Although still a relatively new product,
                            it
                            is built on a foundation of over three decades of expertise in the field.</p>

                        <p>The company was initiated by a developer with more than 30 years of experience in creating
                            email and enterprise software, who recognized the stagnation in the email server market.
                            With most products in the 2020s still relying on outdated technology and cumbersome
                            configuration processes, Stalwart Labs set out to create a modern, all-in-one mail server
                            solution.</p>

                        <p>Stalwart Labs is growing rapidly. While the project initially started with one developer, the
                            company is now expanding its team, actively hiring backend and frontend developers, support
                            staff, and specialized sales personnel to better serve our expanding customer base.</p>

                        <p>With a presence in both the UK and the US, Stalwart Labs is dedicated to delivering
                            innovative, secure, and easy-to-maintain email server solutions. Our mission is to drive the
                            future of email technology, and we are excited to continue evolving to meet the needs of our
                            customers in this fast-changing landscape.</p>

                        <a href="/contact"
                            class="btn btn-primary text-white !bg-[#3f78e0] border-[#3f78e0] hover:text-white hover:bg-[#3f78e0] hover:border-[#3f78e0] focus:shadow-[rgba(92,140,229,1)] active:text-white active:bg-[#3f78e0] active:border-[#3f78e0] disabled:text-white disabled:bg-[#3f78e0] disabled:border-[#3f78e0] !rounded-[50rem] !mt-2 hover:translate-y-[-0.15rem] hover:shadow-[0_0.25rem_0.75rem_rgba(30,34,40,0.15)]">Contact
                            Us</a>
                    </div>
                    <!--/column -->
                </div>

                <!--/.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->



        <section class="wrapper !bg-[#ffffff]">
            <div class="container py-[4.5rem] xl:!py-24 lg:!py-24 md:!py-24">
                <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">
                    <div
                        class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/questions.png"
                                srcset="/img/clipart/questions.png 2x" alt="image"></figure>
                    </div>
                    <!--/column -->
                    <div
                        class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full">
                        <h2
                            class="!text-[.75rem] uppercase text-line relative align-top pl-[1.4rem] inline-flex tracking-[0.02rem] leading-[1.35] before:content-[''] before:absolute before:inline-block before:translate-y-[-60%] before:w-3 before:h-[0.05rem] before:left-0 before:top-2/4 before:bg-[#3f78e0] text-[#3f78e0] !mb-3">
                            Get In Touch</h2>
                        <h3 class="text-[calc(1.285rem_+_0.42vw)] font-bold xl:text-[1.6rem] !leading-[1.3] mb-7">Have
                            questions?
                            We're just a message away.</h3>


                        <div class="flex flex-row">
                            <div>
                                <div
                                    class="icon text-[#3f78e0] xl:text-[1.4rem] text-[calc(1.265rem_+_0.18vw)] !mr-4 mt-[-0.25rem]">
                                    <i class="uil uil-location-pin-alt before:content-['\ebd8']"></i>
                                </div>
                            </div>
                            <div>
                                <h5 class="!mb-1">US Address</h5>
                                <address class=" not-italic leading-[inherit] mb-4">1309 Coffeen Avenue Ste. 1200,
                                    Sheridan, WY 82801
                                </address>
                            </div>
                            <div>
                                <h5 class="!mb-1">UK Address</h5>
                                <address class=" not-italic leading-[inherit] mb-4">128 City Road, London, EC1V 2NX
                                </address>
                            </div>
                        </div>
                        <div class="flex flex-row">
                            <div>
                                <div
                                    class="icon text-[#3f78e0] xl:text-[1.4rem] text-[calc(1.265rem_+_0.18vw)] !mr-4 mt-[-0.25rem]">
                                    <i class="uil uil-envelope before:content-['\eac8']"></i>
                                </div>
                            </div>
                            <div>
                                <h5 class="!mb-1">E-mail</h5>
                                <p class="!mb-0"><a href="mailto:sandbox@email.com"
                                        class="text-[#60697b]">hello@stalw.art</a></p>
                            </div>
                        </div>



                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('include-footer.ejs', { cta: 'Want to Learn More About Us?' ,
        ctaSub: 'Reach out today with any questions you have about Stalwart Labs. Weʹre here to help!' ,
        ctaButton: 'Contact us' , ctaLink: '/contact' }) %>
</body>

</html>