<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'Enterprise edition | Stalwart Labs' ,
        description: 'Unlock enterprise-grade features and professional support with our premium edition of Stalwart Mail Server.'
        }) %>


        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper bg-soft-primary !bg-[#edf2fc]">
            <%- include('include-header.ejs') %>
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#edf2fc]">
            <div
                class="container pt-10 pb-36 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-20 lg:pb-20 md:pb-20 !text-center">
                <div class="flex flex-wrap mx-[-15px]">
                    <div
                        class="md:w-8/12 lg:w-7/12 xl:w-6/12 xxl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto mb-12">
                        <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">
                            Enterprise
                            edition</h1>
                        <p class="lead leading-[1.65] text-[0.9rem] font-medium lg:!px-7 xl:!px-7 xxl:!px-6">Unlock
                            enterprise-grade
                            features and professional support with our <span
                                class="relative z-[2] whitespace-nowrap after:content-[''] after:block after:absolute after:w-[102.5%] after:h-[30%] after:left-[-1.5%] after:z-[-1] after:transition-all after:duration-[0.2s] after:ease-in-out after:mt-0 after:rounded-[5rem] after:bottom-[9%] motion-reduce:after:transition-none after:bg-[rgba(63,120,224,.12)]">premium</span>
                            edition.</p>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
        <section
            class="wrapper !bg-[#ffffff]  angled upper-end !relative border-0 before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:!border-y-transparent before:border-0 before:border-solid before:right-0 after:top-[-4rem] after:border-l-transparent after:border-r-[100vw] after:border-t-[4rem] after:border-[#fefefe] after:content-[''] after:block after:absolute after:z-0 after:!border-y-transparent after:border-0 after:border-solid after:right-0">
            <div class="container !pb-[4.5rem] xl:!pb-24 lg:!pb-24 md:!pb-24">


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/elevate.png"
                                srcset="/img/clipart/elevate.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Enterprise edition</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Elevate your email platform to enterprise level.</h3>
                        <p class="!mb-6">Stalwart Enterprise Edition is designed to elevate your email infrastructure to
                            new
                            heights, surpassing the robust foundation of our open-source edition. This premium
                            version offers a suite of additional features tailored to meet the demands of enterprise
                            environments,
                            ensuring superior flexibility, security, and customization. With a commercial license, you
                            can enjoy the
                            full power of Stalwart without the limitations of the AGPLv3 license, giving you the freedom
                            to customize
                            and
                            integrate our solution seamlessly into your existing infrastructure. Moreover, the
                            Enterprise Edition
                            includes priority support and expedited bug fixing, ensuring that your email system remains
                            reliable and
                            efficient. Invest in Stalwart Enterprise Edition to elevate your email infrastructure with
                            professional-grade tools and dedicated support, driving your business forward with
                            confidence and ease.
                        </p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Metrics & reporting</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Real-time insights and alerts for complete email oversight.</h3>
                        <p class="!mb-6">The Enterprise version of Stalwart includes a sophisticated dashboard designed
                            to provide
                            comprehensive visibility into your email server's performance and health. This feature-rich
                            dashboard
                            allows you to visualize a wide array of metrics, giving you real-time insights into server
                            operations,
                            email traffic, and system performance. With the ability to generate detailed reports, you
                            can easily track
                            trends, identify issues, and ensure optimal performance.
                            Furthermore, the dashboard seamlessly integrates with monitoring systems like Prometheus,
                            enabling you to
                            leverage existing infrastructure for centralized monitoring and alerting. In the event of
                            any issues, the
                            system will automatically send alerts to administrators, ensuring prompt attention and
                            resolution. This
                            proactive approach helps maintain system reliability and minimizes downtime, allowing your
                            business to
                            operate smoothly and efficiently.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/dashboard.png"
                                srcset="/img/clipart/dashboard.png 2x" alt="image"></figure>
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/control_panel.png"
                                srcset="/img/clipart/control_panel.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Multi-tenancy</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Streamlined management with multi-tenant support.</h3>
                        <p class="!mb-6">Multi-tenancy is a powerful feature that enables a single email server to
                            support multiple
                            organizations or tenants, each with its own isolated domain and user management
                            capabilities. In the
                            Enterprise version of Stalwart, the multi-tenancy feature allows you to delegate
                            administrative powers to
                            specific accounts, empowering them to manage their own company's domains, accounts, and
                            settings
                            independently. This not only enhances operational efficiency but also ensures that each
                            tenant maintains
                            control over their environment. With this robust feature, Stalwart Enterprise Edition
                            provides the
                            scalability and flexibility needed to accommodate growing businesses and diverse
                            organizational
                            structures, all while maintaining high levels of security and performance.</p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Branding</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Tailored branding for a cohesive experience.</h3>
                        <p class="!mb-6">The Enterprise version of Stalwart offers comprehensive branding support,
                            allowing you to
                            tailor the web-based admin and service portal to reflect your company's unique identity.
                            With the ability
                            to replace all logos and incorporate your company name in place of the product name, you can
                            ensure a
                            consistent brand experience for your users. This customization not only enhances brand
                            recognition but
                            also fosters a sense of ownership and professionalism. By aligning the email management
                            interface with
                            your corporate branding, you can create a cohesive and branded experience that reinforces
                            your
                            organization's image and values at every interaction.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/branding.png"
                                srcset="/img/clipart/branding.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/ai.png"
                                srcset="/img/clipart/ai.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            AI-powered</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Harness the power of AI for superior email security.</h3>
                        <p class="!mb-6">Stalwart Enterprise leverages AI technology to provide unparalleled email
                            security
                            and management. With AI-powered features, Stalwart Enterprise excels in accurately
                            classifying spam,
                            detecting sophisticated phishing attempts, and blocking various types of network attacks.
                            This intelligent
                            approach ensures that your email environment remains secure and reliable. Stalwart
                            Enterprise comes
                            equipped with a pre-trained large language model (LLM), offering robust out-of-the-box
                            protection.
                            Additionally, it supports integration with leading AI providers such as OpenAI, Anthropic,
                            and other
                            cutting-edge platforms, allowing you to enhance and customize your security measures. By
                            utilizing AI,
                            Stalwart Enterprise delivers a smarter, more efficient email solution that proactively
                            safeguards your
                            communications and data.</p>


                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Enterprise features</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Comprehensive features for enhanced security and compliance.</h3>
                        <p class="!mb-6">Stalwart Enterprise offers a range of additional features designed to enhance
                            security,
                            compliance, and flexibility. These include expanded authentication options such as
                            third-party OIDC providers,
                            and SAML, providing robust and versatile ways to secure user access.
                            Furthermore, Stalwart
                            Enterprise supports lawful interception, a capability that allows authorized entities to
                            monitor and
                            access email communications for legal and regulatory purposes. This feature ensures that
                            your organization
                            can comply with legal requirements while maintaining the highest standards of privacy and
                            security.
                            Together, these enhancements make Stalwart Enterprise a comprehensive and adaptable solution
                            that meets
                            the diverse needs of modern enterprises.
                        </p>


                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_transport.png"
                                srcset="/img/clipart/secure_transport.png 2x" alt="image"></figure>
                    </div>
                </div>



                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/support.png"
                                srcset="/img/clipart/support.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Priority support</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Expert assistance for enterprise needs.</h3>
                        <p class="!mb-6">Stalwart Enterprise provides your organization with comprehensive professional
                            support,
                            ensuring that your needs are met with the highest priority. This ensures that your team can
                            quickly
                            resolve any issues with expert guidance and dedicated resources. Additionally, Stalwart
                            Enterprise
                            customers benefit from priority bug fixing, ensuring that critical issues are addressed
                            promptly to
                            maintain seamless operation. Moreover, subscribing to the Enterprise version provides your
                            organization
                            with some influence over the product's roadmap, allowing your feedback and needs to shape
                            future
                            developments. This level of support and engagement ensures that Stalwart Enterprise is not
                            only a powerful
                            email solution but also a responsive and evolving platform tailored to your business
                            requirements.</p>
                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Custom SLA</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Tailored SLA for your needs.</h3>
                        <p class="!mb-6">A Service Level Agreement (SLA) is a formal commitment between a service
                            provider and a
                            client, defining the expected level of service, performance standards, and responsibilities.
                            With Stalwart
                            Enterprise, you can establish a custom SLA tailored to your organization's unique
                            requirements. This
                            ensures that you receive the precise level of support, response times, and performance
                            guarantees
                            necessary to maintain your email infrastructure at peak efficiency. By agreeing on a custom
                            SLA, you can
                            align Stalwart's services with your business objectives, ensuring a reliable and responsive
                            email solution
                            that meets your specific operational needs.
                        </p>


                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/terms.png"
                                srcset="/img/clipart/terms.png 2x" alt="image"></figure>
                    </div>
                </div>



            </div>
            <!-- /.container -->
        </section>

        <!-- /section -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('include-footer.ejs', { cta: 'Upgrade to enterprise-level email' ,
        ctaSub: 'Reach out to us today for a personalized quote.' , ctaButton: 'Contact us' , ctaLink: '/contact' }) %>
</body>

</html>