<footer class="!bg-[#ffffff] ">
    <div class="container-card">
        <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-light-500 !mb-[4.5rem] [background-size:100%] bg-[center_center] bg-no-repeat !bg-scroll relative z-0 before:content-[''] before:block before:absolute before:z-[1] before:w-full before:h-full before:left-0 before:top-0 before:bg-[rgba(255,255,255,.5)] xxl:rounded-[.8rem] rounded-0"
            data-image-src="/img/photos/bg22.png">
            <div class="card-body py-[4.5rem] px-0">
                <div class="container">
                    <div class="flex flex-wrap mx-[-15px] !text-center">
                        <div class="xl:w-11/12 xxl:w-9/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
                            <h2
                                class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                                <%= cta %>
                            </h2>
                            <h3
                                class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-7 lg:!px-[7rem] xl:!px-[7rem]">
                                <%= ctaSub %>
                            </h3>
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                    <div class="flex justify-center">
                        <span><a class="btn btn-lg btn-gradient gradient-1 rounded" href="<%= ctaLink %>">
                                <%= ctaButton %>
                            </a></span>
                    </div>
                </div>
                <!--/.container -->
            </div>
            <!--/.card-body -->
        </div>
        <!--/.card -->
    </div>
    <!-- /.container-card -->
    <div class="container pb-[4rem] xl:!pb-[5rem] lg:!pb-[5rem] md:!pb-[5rem]">
        <div class="flex flex-wrap mx-[-15px] mt-[-30px] xl:mt-0 lg:mt-0">
            <div
                class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
                <div class="widget">
                    <img class="!mb-4" src="/img/logo-dark.png" srcset="/img/logo-dark@2x.png 2x" alt="image">
                    <address class="xl:pr-20 xxl:!pr-28 not-italic leading-[inherit] block mb-4">128 City Road<br />
                        London, UK</address>
                    <a class="text-[#60697b] hover:text-[#60697b]" href="mailto:hello@stalw.art">hello@stalw.art</a><br>

                    <nav class="nav social">
                        <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                            href="https://github.com/stalwartlabs/mail-server" target="_blank"><i
                                class="uil uil-github before:content-['\eb40'] !text-[#000000] text-[1rem]"></i></a>
                        <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                            href="https://twitter.com/stalwartlabs/" target="_blank"><i
                                class="uil uil-twitter before:content-['\ed59'] !text-[#5daed5] text-[1rem]"></i></a>
                        <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                            href="https://discord.gg/aVQr3jF8jd" target="_blank"><i
                                class="uil uil-discord before:content-['\ea95'] !text-[#4470cf] text-[1rem]"></i></a>
                        <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                            href="https://mastodon.social/@stalwartlabs" target="_blank"><i
                                class="uil uil-comment-alt before:content-['\ea3a'] !text-[#4470cf] text-[1rem]"></i></a>


                    </nav>
                    <!-- /.social -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div
                class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
                <div class="widget">
                    <h4 class="widget-title !mb-3 !text-[1rem] !leading-[1.45]">Platform</h4>
                    <ul class="pl-0 list-none !mb-0">
                        <li><a class="text-[#60697b] hover:text-[#605dba]" href="/mail-server">Mail Server</a></li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]"
                                href="/collaboration">Collaboration</a>
                        </li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]" href="/mta">MTA</a>
                        </li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]"
                                href="/anti-spam">Anti-spam</a>
                        </li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div
                class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
                <div class="widget">
                    <h4 class="widget-title !mb-3 !text-[1rem] !leading-[1.45]">Editions</h4>
                    <ul class="pl-0 list-none !mb-0">
                        <li><a class="text-[#60697b] hover:text-[#605dba]" href="/enterprise">Enterprise</a></li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]"
                                href="/small-business">Small Business</a>
                        </li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]"
                                href="/open-source">Community</a></li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]"
                                href="/compare">Compare</a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div
                class="md:w-full xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
                <div class="widget">
                    <h4 class="widget-title !mb-3 !text-[1rem] !leading-[1.45]">Company</h4>
                    <ul class="pl-0 list-none !mb-0">
                        <li><a class="text-[#60697b] hover:text-[#605dba]" href="/about">About</a></li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]" href="/blog">Blog</a>
                        </li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]" href="/jobs">Jobs</a>
                        </li>
                        <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#605dba]"
                                href="/contact">Contact</a></li>
                    </ul>

                    <!-- /.newsletter-wrapper -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
        </div>
        <!--/.row -->
    </div>
</footer>
<!-- progress wrapper -->
<div
    class="progress-wrap fixed w-[2.3rem] h-[2.3rem] cursor-pointer block shadow-[inset_0_0_0_0.1rem_rgba(128,130,134,0.25)] z-[1010] opacity-0 invisible translate-y-3 transition-all duration-[0.2s] ease-[linear,margin-right] delay-[0s] rounded-[100%] right-6 bottom-6 motion-reduce:transition-none after:absolute after:content-['\e951'] after:text-center after:leading-[2.3rem] after:text-[1.2rem] after:text-[#605dba] after:h-[2.3rem] after:w-[2.3rem] after:cursor-pointer after:block after:z-[1] after:transition-all after:duration-[0.2s] after:ease-linear after:left-0 after:top-0 motion-reduce:after:transition-none after:font-Unicons">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path
            class="fill-none stroke-[#605dba] stroke-[4] box-border transition-all duration-[0.2s] ease-linear motion-reduce:transition-none"
            d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<script src="/js/plugins.js"></script>
<script src="/js/theme.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NTKTV3G55G"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-NTKTV3G55G');
</script>