<nav class="navbar navbar-expand-lg center-nav transparent navbar-light caret-none">
    <div class="container xl:flex-row lg:flex-row !flex-nowrap items-center">
        <div class="navbar-brand w-full">
            <a href="/">
                <img src="/img/logo-dark.png" srcset="/img/logo-dark@2x.png 2x" alt="image">
            </a>
        </div>
        <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header xl:hidden lg:hidden flex items-center justify-between flex-row p-6">
                <h3 class="text-white xl:text-[1.5rem] !text-[calc(1.275rem_+_0.3vw)] !mb-0">Stalwart</h3>
                <button type="button"
                    class="btn-close btn-close-white mr-[-0.75rem] m-0 p-0 leading-none text-[#605dba] transition-all duration-[0.2s] ease-in-out border-0 motion-reduce:transition-none before:text-[1.05rem] before:content-['\ed3b'] before:w-[1.8rem] before:h-[1.8rem] before:leading-[1.8rem] before:shadow-none before:transition-[background] before:duration-[0.2s] before:ease-in-out before:flex before:justify-center before:items-center before:m-0 before:p-0 before:rounded-[100%] hover:no-underline bg-inherit before:bg-[rgba(255,255,255,.08)] before:font-Unicons hover:before:bg-[rgba(0,0,0,.11)] focus:outline-0"
                    data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body xl:!ml-auto lg:!ml-auto flex  flex-col !h-full">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-bold !tracking-[normal] hover:!text-[#605dba] !text-[.85rem]"
                            href="#" data-bs-toggle="dropdown">Platform</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]" href="/mail-server">JMAP
                                    /
                                    IMAP4</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]" href="/mta">MTA</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/anti-spam">Anti-spam</a>
                            </li>
                        </ul>
                        <!--/.dropdown-menu -->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-bold !tracking-[normal] hover:!text-[#605dba] !text-[.85rem]"
                            href="#" data-bs-toggle="dropdown">Editions</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/enterprise">Enterprise</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/small-business">Small Business</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/open-source">Community</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/compare">Compare</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-bold !tracking-[normal] hover:!text-[#605dba] !text-[.85rem]"
                            href="#" data-bs-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]" href="/support">Premium
                                    Support</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/managed-email">Managed
                                    e-mail</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/migration">Migration</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-mega">
                        <a class="nav-link dropdown-toggle font-bold !tracking-[normal] hover:!text-[#605dba] !text-[.85rem]"
                            href="#" data-bs-toggle="dropdown">Documentation</a>

                        <ul class="dropdown-menu mega-menu">
                            <li class="mega-menu-content">
                                <div class="flex flex-wrap mx-0 xl:mx-[-7.5px] lg:mx-[-7.5px]">
                                    <div class="xl:w-4/12 lg:w-4/12 w-full flex-[0_0_auto] max-w-full">
                                        <h6 class="dropdown-header !text-[#605dba]">Install</h6>
                                        <ul class="pl-0 list-none  xl:columns-2 lg:columns-2  xl:pb-1 lg:pb-1">
                                            <li class="xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/install/linux">Linux</a>
                                            </li>
                                            <li class="xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/install/linux">MacOS</a></li>
                                            <li class="xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/install/windows">Windows</a>
                                            </li>
                                            <li class="xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/install/docker">Docker</a>
                                            </li>
                                        </ul>
                                        <h6 class="dropdown-header !text-[#605dba] xl:!mt-6 lg:!mt-6">Overview</h6>
                                        <ul class="pl-0 list-none  xl:columns-2 lg:columns-2 ">
                                            <li class=" xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/get-started">Get
                                                    started</a></li>
                                            <li class=" xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/configuration/overview">Configuration</a></li>
                                            <li class=" xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/management/overview">Management</a></li>
                                            <li class=" xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/category/development">Development</a></li>
                                            <li class=" xl:inline-block xl:w-full lg:inline-block lg:w-full"><a
                                                    class="dropdown-item hover:!text-[#605dba]" href="/docs/faq">FAQ</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--/column -->

                                    <div
                                        class="xl:w-8/12 lg:w-8/12 w-full flex-[0_0_auto] max-w-full xl:border-l-[rgba(164,174,198,0.2)] xl:border-l xl:border-solid lg:border-l-[rgba(164,174,198,0.2)] lg:border-l lg:border-solid">
                                        <h6 class="dropdown-header !text-[#605dba]">Settings</h6>
                                        <ul class="pl-0 list-none  xl:columns-3 lg:columns-3 ">
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/category/server-settings">Server</a></li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/storage/overview">Storage</a>
                                            </li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/auth/overview">Authentication</a></li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/encryption/overview">Encryption</a></li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/smtp/overview">SMTP</a></li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/jmap/overview">JMAP</a></li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/imap/overview">IMAP
                                                    & POP3</a></li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/spamfilter/overview">Spam &
                                                    Phishing</a>
                                            </li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/sieve/overview">Sieve</a>
                                            </li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/cluster/overview">Clustering</a></li>
                                            <li><a class="dropdown-item hover:!text-[#605dba]"
                                                    href="/docs/tracing/overview">Logging</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!--/column -->
                                </div>
                                <!--/.row -->
                            </li>
                            <!--/.mega-menu-content-->
                        </ul>


                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-bold !tracking-[normal] hover:!text-[#605dba] !text-[.85rem]"
                            href="#" data-bs-toggle="dropdown">Community</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="https://github.com/stalwartlabs/mail-server/discussions"
                                    target="_blank">Github
                                    Discussions</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="https://discord.gg/aVQr3jF8jd" target="_blank">Discord</a></li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="https://www.reddit.com/r/stalwartlabs" target="_blank">Reddit</a>
                            </li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="https://matrix.to/#/#stalwart:matrix.org" target="_blank">Matrix</a>
                            </li>
                        </ul>

                        <!--/.dropdown-menu -->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-bold !tracking-[normal] hover:!text-[#605dba] !text-[.85rem]"
                            href="#" data-bs-toggle="dropdown">Company</a>

                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]" href="/about">About</a>
                            </li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]" href="/jobs">Jobs</a>
                            </li>
                            <li class="nav-item"><a class="dropdown-item hover:!text-[#605dba]"
                                    href="/contact">Contact</a>
                            </li>
                        </ul>

                        <!--/.dropdown-menu -->
                    </li>
                </ul>
                <!-- /.navbar-nav -->
                <div class="offcanvas-footer xl:hidden lg:hidden">
                    <div>
                        <a href="mailto:first.last@email.com" class="link-inverse">hello@stalw.art</a>
                        <br>
                        <nav class="nav social social-white mt-4">
                            <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                                href="https://github.com/stalwartlabs/mail-server" target="_blank"><i
                                    class="uil uil-github before:content-['\eb40'] !text-white text-[1rem]"></i></a>
                            <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                                href="https://twitter.com/stalwartlabs/" target="_blank"><i
                                    class="uil uil-twitter before:content-['\ed59'] !text-white text-[1rem]"></i></a>
                            <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                                href="https://discord.gg/aVQr3jF8jd" target="_blank"><i
                                    class="uil uil-discord before:content-['\ea95'] !text-white text-[1rem]"></i></a>
                            <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                                href="https://mastodon.social/@stalwartlabs" target="_blank"><i
                                    class="uil uil-comment-alt before:content-['\ea3a'] !text-white text-[1rem]"></i></a>
                        </nav>
                        <!-- /.social -->
                    </div>
                </div>
                <!-- /.offcanvas-footer -->
            </div>
            <!-- /.offcanvas-body -->
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-other w-full !flex !ml-auto">
            <ul class="navbar-nav !flex-row !items-center !ml-auto">
                <li class="nav-item">
                    <nav class="nav social social-muted justify-end text-right">
                        <a class="m-[0_0_0_.7rem] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                            href="https://github.com/stalwartlabs/mail-server" target="_blank"><i
                                class="uil uil-github before:content-['\eb40'] text-[1rem] text-[#4470cf]"></i></a>
                        <a class="m-[0_0_0_.7rem] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                            href="https://twitter.com/stalwartlabs/" target="_blank"><i
                                class="uil uil-twitter before:content-['\ed59'] text-[1rem] text-[#5daed5]"></i></a>
                        <a class="m-[0_0_0_.7rem] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                            href="https://discord.gg/aVQr3jF8jd" target="_blank"><i
                                class="uil uil-discord before:content-['\ea95'] text-[1rem] text-[#e94d88]"></i></a>
                        <a class="m-[0_0_0_.7rem] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]"
                            href="https://mastodon.social/@stalwartlabs" target="_blank"><i
                                class="uil uil-comment-alt before:content-['\ea3a'] text-[1rem] text-[#d53581]"></i></a>
                    </nav>
                    <!-- /.social -->
                </li>
                <li class="nav-item xl:hidden lg:hidden">
                    <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
            </ul>
            <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
    </div>
    <!-- /.container -->
</nav>