<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'Stalwart Mail & Collaboration Server' ,
        description: 'Open-source mail and collaboration server with JMAP, IMAP4, POP3, SMTP and WebDAV support and a wide range of modern features. Written in Rust and designed to be secure, fast, robust and scalable.'
        }) %>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/colors/grape.css">
        <link rel="preload" href="/fonts/urbanist/urbanist.css" as="style" onload="this.rel='stylesheet'">
</head>

<body class="!font-urbanist !text-[.85rem]">
    <div class="grow shrink-0">
        <header class="relative wrapper">
            <%- include('include-header.ejs') %>
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#ffffff]">
            <div class="container-card">
                <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-light-500 !mt-2 mb-5 [background-size:100%] bg-[center_center] bg-no-repeat !bg-scroll relative z-0 before:content-[''] before:block before:absolute before:z-[1] before:w-full before:h-full before:left-0 before:top-0 before:bg-[rgba(255,255,255,.5)] xxl:!rounded-[.8rem] rounded-0"
                    data-image-src="/img/photos/bg22.png">
                    <div class="card-body py-[4.5rem] px-0">
                        <div class="container">
                            <div
                                class="flex flex-wrap mx-[-15px] md:mx-[-20px] lg:mx-[-20px] xl:mx-[-35px] mt-[-50px] items-center text-center lg:text-left xl:text-left">
                                <div class="lg:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] px-[15px] md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[50px] max-w-full"
                                    data-cues="slideInDown" data-group="page-title" data-delay="900">
                                    <h1
                                        class="xl:text-[2.3rem] text-[calc(1.355rem_+_1.26vw)] font-semibold !leading-[1.2] tracking-[normal] mb-4 xl:!mr-5 xxl:!mr-0">
                                        Unlock the <span class="text-gradient gradient-1">future</span> of email with
                                        <span class="text-gradient gradient-1">Stalwart</span>
                                    </h1>
                                    <p class="lead !text-[1.15rem] !leading-[1.5] font-medium mb-7 xxl:!pr-20">
                                        Step into the future with Stalwart, the open-source powerhouse combining modern
                                        email and collaboration features with unmatched security, speed, and
                                        scalability.
                                    </p>
                                    <div><a href="#all-in-one"
                                            class="btn btn-lg btn-gradient gradient-1 rounded">Explore Now</a></div>
                                </div>
                                <!--/column -->
                                <div
                                    class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[15px] md:px-[20px] lg:px-[20px] xl:px-[35px] mt-[50px] max-w-full">
                                    <img class="max-w-full h-auto mb-[-8rem]" src="/img/clipart/home_01.png"
                                        srcset="/img/clipart/home_01.png 2x" data-cue="fadeIn" data-delay="300"
                                        alt="image">
                                </div>
                                <!--/column -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container -->
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!-- /.container-card -->
        </section>


        <section class="wrapper !bg-[#ffffff]">
            <div class="container pt-20 xl:pt-28 lg:pt-28 md:pt-28 pb-10 xl:pb-10 lg:pb-10 md:pb-10">
                <!-- /div -->
                <div class="flex flex-wrap mx-[-15px]">
                    <div
                        class="md:w-10/12 lg:w-8/12 xl:w-7/12 xxl:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto !text-center">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Stalwart Mail & Collaboration
                            Server</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-9 xl:!px-12">
                            Revolutionize your
                            email infrastructure</h3>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
                <div
                    class="flex flex-wrap mx-[-15px] xl:mx-[-20px] lg:mx-[-20px] md:mx-[-20px] mt-[-40px] !text-center !mb-[4.5rem] xl:!mb-[7rem] lg:!mb-[7rem] md:!mb-[7rem]">
                    <div
                        class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
                        <div
                            class="icon btn btn-circle btn-lg btn-primary text-[#605dba] !bg-[#e2e2f3] border-[#e2e2f3] hover:text-[#605dba] hover:bg-[#e2e2f3] hover:border-[#e2e2f3] focus:shadow-[rgba(92,140,229,1)] active:text-[#605dba] active:bg-[#e2e2f3] active:border-[#e2e2f3] disabled:text-[#605dba] disabled:bg-[#e2e2f3] disabled:border-[#e2e2f3] pointer-events-none mb-5 !w-[3rem] !h-[3rem] xl:text-[1.3rem] text-[calc(1.255rem_+_0.06vw)] !inline-flex !items-center !justify-center !leading-none !p-0 !rounded-[100%]">
                            <i class="uil uil-sitemap before:content-['\ecd2']" style="color: #605dba;"></i>
                        </div>
                        <h4>All-in-One Platform</h4>
                        <p class="!mb-3">Comprehensive support for modern email and collaboration tools, plus robust
                            spam and phishing defenses in an integrated package.</p>
                        <a href="#all-in-one" class="more hover" style="color: #f857a6;">Learn More</a>
                    </div>
                    <!--/column -->
                    <div
                        class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
                        <div
                            class="icon btn btn-circle btn-lg btn-primary text-[#605dba] !bg-[#e2e2f3] border-[#e2e2f3] hover:text-[#605dba] hover:bg-[#e2e2f3] hover:border-[#e2e2f3] focus:shadow-[rgba(92,140,229,1)] active:text-[#605dba] active:bg-[#e2e2f3] active:border-[#e2e2f3] disabled:text-[#605dba] disabled:bg-[#e2e2f3] disabled:border-[#e2e2f3] pointer-events-none mb-5 !w-[3rem] !h-[3rem] xl:text-[1.3rem] text-[calc(1.255rem_+_0.06vw)] !inline-flex !items-center !justify-center !leading-none !p-0 !rounded-[100%]">
                            <i class="uil uil-shield-exclamation before:content-['\ecb3']" style="color: #605dba;"></i>
                        </div>
                        <h4>Enhanced Security</h4>
                        <p class="!mb-3">Features encryption-at-rest, strong transport security, sender authentication,
                            and
                            proactive
                            security measures.</p>
                        <a href="#security" class="more hover" style="color: #f857a6;">Learn More</a>
                    </div>
                    <!--/column -->
                    <div
                        class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
                        <div
                            class="icon btn btn-circle btn-lg btn-primary text-[#605dba] !bg-[#e2e2f3] border-[#e2e2f3] hover:text-[#605dba] hover:bg-[#e2e2f3] hover:border-[#e2e2f3] focus:shadow-[rgba(92,140,229,1)] active:text-[#605dba] active:bg-[#e2e2f3] active:border-[#e2e2f3] disabled:text-[#605dba] disabled:bg-[#e2e2f3] disabled:border-[#e2e2f3] pointer-events-none mb-5 !w-[3rem] !h-[3rem] xl:text-[1.3rem] text-[calc(1.255rem_+_0.06vw)] !inline-flex !items-center !justify-center !leading-none !p-0 !rounded-[100%]">
                            <i class="uil uil-puzzle-piece before:content-['\ec77']" style="color: #605dba;"></i>
                        </div>
                        <h4>Highly Flexible</h4>
                        <p class="!mb-3">Supports extensive scripting, multi-language search, dynamic configuration
                            rules, and a
                            wide range of storage options.</p>
                        <a href="#flexible" class="more hover" style="color: #f857a6;">Learn More</a>
                    </div>
                    <!--/column -->
                    <div
                        class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
                        <div
                            class="icon btn btn-circle btn-lg btn-primary text-[#605dba] !bg-[#e2e2f3] border-[#e2e2f3] hover:text-[#605dba] hover:bg-[#e2e2f3] hover:border-[#e2e2f3] focus:shadow-[rgba(92,140,229,1)] active:text-[#605dba] active:bg-[#e2e2f3] active:border-[#e2e2f3] disabled:text-[#605dba] disabled:bg-[#e2e2f3] disabled:border-[#e2e2f3] pointer-events-none mb-5 !w-[3rem] !h-[3rem] xl:text-[1.3rem] text-[calc(1.255rem_+_0.06vw)] !inline-flex !items-center !justify-center !leading-none !p-0 !rounded-[100%]">
                            <i class="uil uil-chart-line before:content-['\e9d3']" style="color: #605dba;"></i>
                        </div>
                        <h4>Built to Scale</h4>
                        <p class="!mb-3">Ensures continuous operation with load balancing, partition-resistant fault
                            tolerance, and
                            intelligent
                            system-wide coordination.</p>
                        <a href="#scale" class="more hover" style="color: #f857a6;">Learn More</a>
                    </div>
                    <!--/column -->
                </div>
            </div>
        </section>

        <!-- /section -->
        <section class="wrapper !bg-[#ffffff] " id="all-in-one">
            <div class="container  pb-16 xl:pb-20 lg:pb-20 md:pb-20">
                <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">

                    <div
                        class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            All-in-one solution</h2>
                        <h3 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] !leading-[1.3] mb-5">
                            Integrated email and collaboration
                            for secure and efficient communication.</h3>
                        <p>Unlike any other solution on the market, Stalwart redefines the email server landscape.
                            Traditionally, running a mail and collaboration server meant stitching together multiple
                            outdated components—like MTA, message store, spam filter, calendar, and contacts—each with
                            its own configuration quirks. Stalwart streamlines this into a single, efficient binary with
                            a unified configuration. Built in Rust, a language renowned for memory safety, it delivers a
                            robust, secure foundation for modern communication and collaboration.</p>
                    </div>


                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-0 lg:px-0 px-[15px] max-w-full mt-[50px]">
                        <div class="flex flex-wrap mx-[-15px] mt-[-30px] !text-center">
                            <div
                                class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full mt-[30px]">
                                <div class="flex flex-wrap mx-[-15px]">
                                    <div class="w-full flex-[0_0_auto] px-[15px] max-w-full">
                                        <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] !mb-6">
                                            <div class="card-body flex-[1_1_auto] p-[40px]">
                                                <img src="/img/icons/solid/emails.svg"
                                                    class="svg-inject icon-svg !w-[2.2rem] !h-[2.2rem]  solid-duo text-purple-aqua !mb-3 m-[0_auto]"
                                                    alt="image">
                                                <h3>JMAP & IMAP</h3>
                                                <p class="!mb-2">Embrace modern email with JMAP alongside seamless
                                                    support for legacy protocols.
                                                </p>
                                                <a href="/mail-server"
                                                    class="more hover text-[#f857a6] focus:text-[#f857a6] hover:text-[#f857a6]">Learn
                                                    More</a>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.card -->
                                    </div>
                                    <!-- /column -->

                                    <div class="w-full flex-[0_0_auto] px-[15px] max-w-full">
                                        <div class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)]">
                                            <div class="card-body flex-[1_1_auto] p-[40px]">
                                                <img src="/img/icons/solid/cloud-network.svg"
                                                    class="svg-inject icon-svg !w-[2.2rem] !h-[2.2rem]  solid-duo text-purple-aqua !mb-3 m-[0_auto]"
                                                    alt="image">
                                                <h3>MTA</h3>
                                                <p class="!mb-2">SMTP server built for unmatched security, speed, and
                                                    extensive
                                                    customization.
                                                </p>
                                                <a href="/mta"
                                                    class="more hover text-[#f857a6] focus:text-[#f857a6] hover:text-[#f857a6]">Learn
                                                    More</a>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.card -->
                                    </div>
                                    <!-- /column -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /column -->
                            <div
                                class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full mt-[30px]">
                                <div class="flex flex-wrap mx-[-15px]">
                                    <div
                                        class="w-full flex-[0_0_auto] px-[15px] max-w-full xl:!order-2 lg:!order-2 md:!order-2">
                                        <div
                                            class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] !mb-6 xl:mb-0 lg:mb-0 xl:mb-0 lg:mb-0 md:mb-0">
                                            <div class="card-body flex-[1_1_auto] p-[40px]">
                                                <img src="/img/icons/lineal/shield.svg"
                                                    class="svg-inject icon-svg !w-[2.2rem] !h-[2.2rem]  solid-duo text-purple-aqua !mb-3 m-[0_auto]"
                                                    alt="image">
                                                <h3>Anti-spam</h3>
                                                <p class="!mb-2">Effectively block
                                                    unwanted emails and protect against phishing attempts.
                                                </p>
                                                <a href="/anti-spam"
                                                    class="more hover text-[#f857a6] focus:text-[#f857a6] hover:text-[#f857a6]">Learn
                                                    More</a>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.card -->
                                    </div>
                                    <!-- /column -->
                                    <div class="w-full flex-[0_0_auto] px-[15px] max-w-full">
                                        <div
                                            class="card !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] xl:!mb-6 lg:!mb-6 md:!mb-6 lg:!mt-6 xl:!mt-6">
                                            <div class="card-body flex-[1_1_auto] p-[40px]">
                                                <img src="/img/icons/lineal/calendar.svg"
                                                    class="svg-inject icon-svg !w-[2.2rem] !h-[2.2rem]  solid-duo text-purple-aqua !mb-3 m-[0_auto]"
                                                    alt="image">
                                                <h3>Collaboration</h3>
                                                <p class="!mb-2">
                                                    Complete communication platform with calendars, contacts, and file
                                                    storage.
                                                </p>
                                                <a href="/collaboration"
                                                    class="more hover text-[#f857a6] focus:text-[#f857a6] hover:text-[#f857a6]">Learn
                                                    More</a>
                                            </div>
                                            <!--/.card-body -->
                                        </div>
                                        <!--/.card -->
                                    </div>
                                    <!-- /column -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
        </section>
        <!-- /section -->

        <section class="wrapper !bg-[#ffffff]">
            <div class="container">



                <div class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14"
                    id="security">

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_encryption.png"
                                srcset="/img/clipart/secure_encryption.png 2x" alt="image"></figure>
                        <!--/.row -->
                    </div>

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Enhanced Security</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Unmatched email security for modern threats.</h3>
                        <p class="!mb-6">Stalwart stands at the forefront of secure email technology, providing an
                            unparalleled
                            level of protection for your communications. It employs advanced security measures designed
                            to safeguard
                            data both at rest and in transit, ensuring comprehensive defense against modern threats.
                            With a focus on
                            robust encryption, stringent access controls, and proactive security protocols, Stalwart
                            delivers peace of
                            mind, underlining its commitment to maintaining the highest standards of email security.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Encryption
                                at rest with S/MIME or OpenPGP.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Strong
                                transport security through DANE, MTA-STS and TLS Reporting.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Automatic
                                TLS certificate provisioning with ACME.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Granular
                                access control lists,
                                rate limiting and fail2ban.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Memory
                                safe.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Security
                                audited.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>

                <div class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14"
                    id="flexible">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Highly flexible</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Next-level email capabilities for dynamic environments.</h3>
                        <p class="!mb-6">From sophisticated scripting and dynamic programmability to multilingual search
                            options and
                            versatile storage solutions, Stalwart ensures that your email infrastructure is not only
                            robust and
                            secure but also incredibly adaptable and user-friendly.
                            Whether you're
                            scaling up or drilling down into your data, Stalwart is designed to provide you with a
                            superior email
                            experience.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Enhanced
                                Sieve scripting capabilities.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Fully
                                programmable with dynamic configuration rules.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Powerful
                                full-text search capabilities across 17 languages.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Broad
                                array of storage & authentication backends options.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Intuitive
                                web-based interface and self-service portal.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Hassle-free
                                automatic account configuration and discovery.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/customize.png"
                                srcset="/img/clipart/customize.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/booking.png"
                                srcset="/img/clipart/booking.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Unified collaboration</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Everything your team needs to stay connected.</h3>
                        <p class="!mb-6">Stalwart extends beyond email with built-in collaboration features that support
                            calendars, contact management, and file sharing—all accessible. Designed
                            for simplicity and performance, these tools ensure smooth coordination and data access
                            across teams and devices.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Calendar
                                and event scheduling with free/busy support.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Rich
                                contact management.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>File
                                storage and secure sharing.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>CalDAV,
                                CardDAV and WebDAV support.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP-based
                                access for modern, real-time syncing.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Unified
                                platform for communication and collaboration.</li>

                        </ul>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Spam & Phishing filter</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Robust defense against spam and phishing threats.</h3>
                        <p class="!mb-6">Leveraging
                            sophisticated filtering techniques, and real-time threat detection
                            mechanisms, Stalwart ensures your email environment is not only secure but also resilient
                            against evolving
                            email threats. From advanced spam detection to proactive phishing defenses, these tools work
                            in concert
                            to maintain the integrity and reliability of your email exchanges, effectively shielding
                            your organization
                            from both nuisance and malicious threats.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Built-in
                                DMARC, DKIM, SPF and ARC support for sender authentication.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Comprehensive
                                set of filtering rules on par with popular solutions.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Statistical
                                spam classifier with automatic training capabilities.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>DNS
                                Blocklists checking of IP addresses, domains, and hashes.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Collaborative
                                digest-based spam filtering.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Phishing
                                protection against homographic, spoofing and other attacks.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Trusted
                                reply tracking to recognize and prioritize genuine email replies.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Sender
                                reputation monitoring by IP address, ASN, domain and email address.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Greylisting
                                to temporarily defer unknown senders.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Spam
                                traps to set up decoy email addresses that catch and analyze spam.</li>

                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_shield.png"
                                srcset="/img/clipart/secure_shield.png 2x" alt="image"></figure>
                    </div>

                </div>


                <div class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14"
                    id="scale">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/scalable.png"
                                srcset="/img/clipart/scalable.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Built to scale</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Seamless scalability for millions of mailboxes.</h3>
                        <p class="!mb-6">Unlike traditional mail servers, which often rely on coordinators and proxies
                            to scale and
                            are
                            limited by ancient storage formats like Maildir that tie user accounts to a single server,
                            Stalwart is
                            engineered to scale effortlessly from the start. When paired with modern storage backends
                            such as
                            FoundationDB, Stalwart can seamlessly handle millions of mailboxes. This design not only
                            eliminates the
                            need for complex scaling solutions but also ensures robust performance and reliability
                            across extensive
                            email infrastructures.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Seamless
                                load balancing and fault tolerance.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Node
                                autodiscovery, streamlining network expansion.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Network
                                partition-tolerant failure detection.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Simplified
                                architecture without coordinators or proxies.</li>
                        </ul>
                        <!--/.row -->
                    </div>

                </div>

            </div>

        </section>

    </div>

    <%- include('include-footer.ejs', { cta: 'Ready to elevate your email?' ,
        ctaSub: 'Step into the future of messaging and try us out today.' , ctaButton: 'Get Stalwart' ,
        ctaLink: '/docs/install/get-started' }) %>

</body>

</html>