<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'Stalwart Mail Server | Stalwart Labs' ,
        description: 'Robust, secure, and scalable message storage, expertly handling all modern email protocols.' }) %>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/colors/sky.css">
        <link rel="preload" href="/fonts/urbanist/urbanist.css" as="style" onload="this.rel='stylesheet'">
        <style>
            .swiper-container.nav-color .swiper-button.swiper-button-disabled,
            .swiper-container.nav-color .swiper-slide figure .item-link.swiper-button-disabled {
                background: #5eb9f0b3 !important;
            }

            .swiper-container.nav-color .swiper-button,
            .swiper-container.nav-color .swiper-slide figure .item-link {
                background: #5eb9f0e6 !important;
                color: #ffffff !important;
            }

            .swiper-container.nav-color .swiper-button:hover,
            .swiper-container.nav-color .swiper-slide figure .item-link:hover {
                background: #5eb9f0 !important;
            }

            .navbar.navbar-light.fixed .btn:not(.btn-expand):not(.btn-gradient) {
                background: #5eb9f0 !important;
                border-color: #5eb9f0 !important;
                color: #ffffff !important;
            }

            .accordion-wrapper .card-header button {
                color: #5eb9f0;
            }

            @media (min-width: 992px) {
                .navbar-expand-lg.navbar-light .dropdown:not(.dropdown-submenu)>.dropdown-toggle:after {
                    color: #5eb9f0;
                }
            }

            @media (max-width: 991.98px) {
                .navbar-expand-lg .navbar-collapse .dropdown-toggle:after {
                    color: #ffffff !important;
                }
            }
        </style>
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper !bg-[#ffffff] ">
            <%- include('include-header.ejs') %>
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#ffffff]">
            <div
                class="container pt-10 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] pb-[4.5rem] xl:pb-12 lg:pb-12 md:pb-12 !text-center">
                <div
                    class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] xl:mt-0 !mb-[4.5rem] items-center">
                    <div
                        class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] px-[15px] xl:px-[35px] lg:px-[20px] mt-[50px] xl:mt-0 max-w-full xl:!order-2 lg:!order-2">
                        <figure class="m-0 p-0"><img class="img-auto" src="/img/clipart/store_01.png"
                                srcset="/img/clipart/store_01.png 2x" alt="image"></figure>
                    </div>
                    <!-- /column -->
                    <div
                        class="md:w-10/12 md:!ml-[8.33333333%] lg:!ml-0 lg:w-5/12 xl:!ml-0 xl:w-5/12 w-full flex-[0_0_auto] px-[15px] xl:px-[35px] lg:px-[20px] mt-[50px] xl:mt-0 max-w-full text-center lg:text-left xl:text-left">
                        <h1
                            class="xl:text-[2.7rem] text-[calc(1.395rem_+_1.74vw)] !leading-[1.15] mb-5 md:mx-[-1.25rem] lg:mx-0 mt-7">
                            Mail server <br class="xl:!hidden lg:!hidden md:!hidden">fluent in <br
                                class="xl:!hidden lg:!hidden md:!hidden"><span
                                class="rotator-fade text-[#5eb9f0]">JMAP,IMAP4,POP3</span></h1>
                        <p class="lead !text-[1.1rem] !leading-[1.55] font-medium mb-7">Robust, secure, and scalable
                            message
                            storage, expertly handling all modern email protocols.</p>
                        <span><a href="#store"
                                class="btn btn-lg btn-sky text-white !bg-[#5eb9f0] border-[#5eb9f0] hover:text-white hover:!bg-[#5eb9f0] hover:border-[#5eb9f0] focus:shadow-[rgba(88,167,216,1)] active:text-white active:!bg-[#5eb9f0] active:border-[#5eb9f0] disabled:text-white disabled:!bg-[#5eb9f0] disabled:border-[#5eb9f0]  !rounded-[50rem] !mr-2">Learn
                                More</a></span>
                    </div>
                    <!-- /column -->
                </div>
            </div>
            <!-- /.container -->
            <div class="overflow-hidden">
                <div class="divider text-[#f0f8fe] mx-[-0.5rem]">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
                        <path fill="currentColor"
                            d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z" />
                    </svg>
                </div>
            </div>
            <!-- /.overflow-hidden -->
        </section>
        <!-- /section -->
        <section class="wrapper bg-gradient-sky">
            <div class="container pt-14 xl:pt-8 lg:pt-8 pb-[4.5rem] xl:pb-14 lg:pb-14 md:pb-14" id="store">


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/modern_email.png"
                                srcset="/img/clipart/modern_email.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            JMAP Server</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Embracing modern email with JMAP.</h3>
                        <p class="!mb-6">JMAP (JSON Meta Application Protocol) is a contemporary protocol designed to be
                            a modern
                            replacement for IMAP, enhancing the way email clients sync with mail servers. Unlike its
                            predecessor, JMAP
                            uses JSON to structure data and HTTP for its transport layer, making it more efficient and
                            suitable for
                            today's mobile and web-based environments. Stalwart stands out as one of the few email
                            servers on the
                            market that fully implements JMAP, providing users with a cutting-edge, streamlined email
                            syncing
                            experience.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP
                                Core full support.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP
                                Mail full support.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP
                                over WebSockets extension.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP
                                for Sieve Scripts extension.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP
                                for Quotas extension.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP
                                Blob Management extension.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            IMAP4 & POP3 server</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Broad compatibility with modern and legacy protocols.</h3>
                        <p class="!mb-6">Stalwart seamlessly supports both cutting-edge and legacy email protocols,
                            including the
                            latest IMAP4 revision 2, the established IMAP4 revision 1, and POP3 for older clients.
                            Additionally,
                            Stalwart implements dozens of IMAP4 extensions, enhancing functionality and user experience
                            across a
                            variety of email client software. This dual focus on the future and the past allows Stalwart
                            to offer a
                            versatile and robust email server solution, capable of meeting diverse user needs in a
                            changing
                            technological landscape.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>IMAP4rev2
                                full compliance.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>IMAP4rev1
                                compatible.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>POP3
                                support.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>
                                CONDSTORE and QRESYNC for mailbox synchronization.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Dozens
                                of IMAP4 extensions.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/legacy_email.png"
                                srcset="/img/clipart/legacy_email.png 2x" alt="image"></figure>
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/automation.png"
                                srcset="/img/clipart/automation.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Sieve scripting</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Enhanced automation with Sieve scripting.</h3>
                        <p class="!mb-6">Stalwart offers comprehensive support for Sieve (a scripting language designed
                            for
                            filtering and managing email) as well all registered extensions,
                            ensuring a wide range of capabilities for users to customize their email handling. The
                            built-in Sieve
                            interpreter is not only fast but also secure, featuring sandboxed code execution to protect
                            against
                            security vulnerabilities. Additionally, users can conveniently manage their Sieve scripts
                            either through
                            the included ManageSieve server or via JMAP for Sieve Scripts, providing flexible and
                            accessible options
                            for script management. </p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Sieve
                                scripting support.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>All
                                extensions supported.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>ManageSieve
                                server.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>JMAP
                                for Sieve Scripts extension.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Feature-rich</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Elevating your email experience.</h3>
                        <p class="!mb-6">Stalwart is engineered to be a feature-rich email server solution, delivering
                            advanced
                            capabilities that cater to diverse needs and enhance user experience. From seamless security
                            measures to
                            extensive customization options, each integrated feature ensures a comprehensive, efficient,
                            and secure
                            communication platform. Stalwart's versatile architecture not only simplifies administration
                            but also
                            scales effectively to meet the demands of any organization.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Built-in
                                full-text search available in 17 languages.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Automatic
                                account configuration and discovery.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Automatic
                                TLS certificate provisioning with ACME.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>E-mail
                                aliases, mailing lists, sub-addressing and catch-all addresses support.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>OpenTelemetry
                                support.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>OpenID
                                Connect + OAuth
                                code and device flows.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Disk
                                quotas.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>REST
                                API.
                            </li>

                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/elevate.png"
                                srcset="/img/clipart/elevate.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_encryption.png"
                                srcset="/img/clipart/secure_encryption.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Secure</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Robust security and encryption.</h3>
                        <p class="!mb-6">Stalwart is designed with a robust security framework to ensure the highest
                            level of
                            protection for your communications. The platform incorporates advanced security features and
                            encryption
                            technologies that safeguard data both in transit and at rest. With proactive measures like
                            host blocking
                            and rate limiting, along with rigorously tested access controls, Stalwart ensures a secure
                            and reliable
                            email environment. Its memory-safe architecture and comprehensive security audits further
                            underline its
                            commitment to maintaining strong defenses against evolving threats.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Encryption
                                at rest with S/MIME or OpenPGP.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Automated
                                blocking of hosts (aka fail2ban).</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Access
                                Control Lists (ACLs).</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Rate
                                and concurrency limiting.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Memory
                                safe.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Security
                                audited.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Flexible Storage</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Diverse storage and authentication options for every need.</h3>
                        <p class="!mb-6">Stalwart offers a versatile and powerful range of storage and authentication
                            options
                            designed to meet various
                            needs and technical requirements. Its flexible architecture supports everything from fast
                            local data
                            storage to extensive distributed storage, enabling both high performance and scalability.
                            Whether you
                            require robust database storage, efficient caching, specialized blob storage, or advanced
                            search
                            capabilities, Stalwart provides the right tools to optimize and enhance your data management
                            strategies.
                        </p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>FoundationDB
                                for distributed data storage.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>RocksDB
                                and SQLite
                                for fast, local data storage.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>PostgreSQL,
                                MySQL and MariaDB
                                for relational data storage</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Redis
                                for caching and lookup storage.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>S3-Compatible
                                for distributed blob storage.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Filesystem
                                for local blob storage.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>ElasticSearch
                                for full-text search.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>LDAP
                                for authentication and authorization.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/flexible_store.png"
                                srcset="/img/clipart/flexible_store.png 2x" alt="image"></figure>
                    </div>
                </div>



                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/control_panel.png"
                                srcset="/img/clipart/control_panel.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Web-based admin</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Effortless web-based management at your fingertips.</h3>
                        <p class="!mb-6">Stalwart provides a streamlined management experience through its comprehensive
                            web-based
                            administration interface. This platform eliminates the need for traditional server
                            management methods,
                            such as using text editors or SSH access, by enabling full control over the mail server
                            directly from a
                            web browser. The webadmin is designed as a Single Page Application (SPA), ensuring a swift
                            and responsive
                            user experience. From intricate configuration adjustments to basic account management, all
                            aspects of the
                            server can be effortlessly handled online, providing both administrators and users with a
                            powerful,
                            efficient tool for managing their email environment.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Dashboards
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Account,
                                domain, group and mailing list management.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Delivery
                                history & Lice tracing.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Configuration
                                of every aspect of the mail server.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Log
                                viewer with search and filtering capabilities.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Self-service
                                portal for password reset and encryption-at-rest key management.
                            </li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Built to scale</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Seamless scalability for millions of mailboxes.</h3>
                        <p class="!mb-6">Unlike traditional mail servers, which often rely on coordinators and proxies
                            to scale and
                            are limited by ancient storage formats like Maildir that tie user accounts to a single
                            server, Stalwart is
                            engineered to scale effortlessly from the start. When paired with modern storage backends
                            such as
                            FoundationDB, Stalwart can seamlessly handle millions of mailboxes. This design not only
                            eliminates the
                            need for complex scaling solutions but also ensures robust performance and reliability
                            across extensive
                            email infrastructures.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Seamless
                                load balancing and fault tolerance.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Node
                                autodiscovery, streamlining network expansion.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Network
                                partition-tolerant failure detection.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Simplified
                                architecture without coordinators or proxies.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/scalable.png"
                                srcset="/img/clipart/scalable.png 2x" alt="image"></figure>
                    </div>
                </div>




                <!--/.row -->
            </div>
            <!-- /.overflow-hidden -->
        </section>

    </div>

    <%- include('include-footer.ejs', { cta: 'Ready to elevate your email?' ,
        ctaSub: 'Step into the future of messaging and try us out today.' , ctaButton: 'Get Stalwart' ,
        ctaLink: '/docs/install/get-started' }) %>

</body>

</html>