<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'Managed Email Service | Stalwart Labs' ,
        description: 'Seamless email server management with proactive monitoring and expert support.' }) %>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper bg-soft-primary !bg-[#edf2fc]">
            <%- include('include-header.ejs') %>
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#edf2fc]">
            <div
                class="container pt-10 pb-36 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-20 lg:pb-20 md:pb-20 !text-center">
                <div class="flex flex-wrap mx-[-15px]">
                    <div
                        class="md:w-8/12 lg:w-7/12 xl:w-6/12 xxl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto mb-12">
                        <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">
                            Managed email
                            service
                        </h1>
                        <p class="lead leading-[1.65] text-[0.9rem] font-medium lg:!px-7 xl:!px-7 xxl:!px-6">
                            Seamless email server management with proactive
                            <span
                                class="relative z-[2] whitespace-nowrap after:content-[''] after:block after:absolute after:w-[102.5%] after:h-[30%] after:left-[-1.5%] after:z-[-1] after:transition-all after:duration-[0.2s] after:ease-in-out after:mt-0 after:rounded-[5rem] after:bottom-[9%] motion-reduce:after:transition-none after:bg-[rgba(63,120,224,.12)]">monitoring
                                and expert support</span>.
                        </p>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
        <section
            class="wrapper !bg-[#ffffff]  angled upper-end !relative border-0 before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:!border-y-transparent before:border-0 before:border-solid before:right-0 after:top-[-4rem] after:border-l-transparent after:border-r-[100vw] after:border-t-[4rem] after:border-[#fefefe] after:content-[''] after:block after:absolute after:z-0 after:!border-y-transparent after:border-0 after:border-solid after:right-0">
            <div class="container !pb-[4.5rem] xl:!pb-24 lg:!pb-24 md:!pb-24">


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/hassle_free.png"
                                srcset="/img/clipart/hassle_free.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Hassle-free</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Hassle-free email management.</h3>
                        <p class="!mb-6">Let us handle the complexities of your email infrastructure with our
                            comprehensive
                            managed email server service. From installation to ongoing maintenance, we ensure that your
                            email server
                            runs smoothly and efficiently. Our team of experts takes care of every detail, allowing you
                            to focus on
                            your core business activities without the worry of email server management. With our
                            service, you benefit
                            from a professionally managed environment that guarantees optimal performance and
                            reliability. By
                            leveraging our extensive experience and cutting-edge software, we ensure that your email
                            system is always
                            up-to-date, secure, and capable of meeting your business demands.
                        </p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Proactive maintenance</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Proactive monitoring and maintenance.</h3>
                        <p class="!mb-6">Our managed service includes continuous monitoring of your email server to
                            detect and
                            address any potential issues before they impact your operations. We ensure that your server
                            runs the
                            latest version, incorporating all necessary security updates and performance enhancements.
                            Our proactive
                            approach means we regularly review and optimize your server's performance, preventing
                            downtime and
                            maintaining seamless email communication. This comprehensive monitoring allows us to catch
                            and fix
                            problems early, often before you even notice them, ensuring that your business operations
                            remain
                            uninterrupted and efficient.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/control_panel.png"
                                srcset="/img/clipart/control_panel.png 2x" alt="image"></figure>
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/dedicated_support.png"
                                srcset="/img/clipart/dedicated_support.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Problem resolution</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Expert issue resolution.</h3>
                        <p class="!mb-6">When problems arise, our team of experienced professionals is on hand to
                            provide swift and
                            effective resolution. Whether it’s a delivery issue, a reception problem, or any other
                            email-related
                            challenge, we diagnose and fix the problem quickly to minimize disruption. Our expertise
                            ensures that your
                            email server remains reliable and secure, allowing your team to stay productive and
                            connected. We pride
                            ourselves on our rapid response times and deep technical knowledge, which enable us to
                            resolve even the
                            most complex issues promptly. With Stalwart managing your email server, you can rest assured
                            that help is
                            always just a call or click away.</p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Security</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Security and compliance.</h3>
                        <p class="!mb-6">Security is a top priority for our managed email server service. We implement
                            and maintain
                            robust security measures to protect your email communications from threats and ensure
                            compliance with
                            industry standards. Regular security audits, encryption, and advanced threat detection are
                            just a few of
                            the ways we safeguard your data. By continuously monitoring for vulnerabilities and applying
                            the latest
                            security patches, we protect your email server from cyber threats and unauthorized access.
                            With Stalwart
                            managing your email server, you can be confident that your communications are secure and
                            compliant,
                            helping you avoid costly data breaches and regulatory fines.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_shield.png"
                                srcset="/img/clipart/secure_shield.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/customize.png"
                                srcset="/img/clipart/customize.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Tailored</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Customized solutions.</h3>
                        <p class="!mb-6">Every business has unique needs, and our managed email server service is
                            tailored to meet
                            yours. We work closely with you to understand your specific requirements and configure your
                            email server
                            accordingly. Whether you need specific integrations, custom configurations, or specialized
                            features, we
                            provide a solution that fits your business perfectly. Our flexible approach ensures that you
                            get the most
                            out of your email infrastructure. We also offer ongoing consultations to help you adapt your
                            email system
                            as your business grows and evolves, ensuring that your email server continues to meet your
                            changing needs.
                        </p>


                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Cost-effective</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Cost-effective management.</h3>
                        <p class="!mb-6">Outsourcing your email server management to us is a cost-effective solution
                            that
                            saves you time and resources. Instead of dedicating internal staff to manage your email
                            server, rely on
                            our experts to handle it for you. This allows your team to focus on strategic initiatives
                            and core
                            business functions, while we ensure your email server operates efficiently. Our service
                            provides excellent
                            value by delivering expert management at a predictable cost. By reducing the need for
                            in-house IT staff
                            and minimizing downtime, we help you lower operational costs and increase overall
                            productivity.
                        </p>


                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/savings.png"
                                srcset="/img/clipart/savings.png 2x" alt="image"></figure>
                    </div>
                </div>



                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/web_based.png"
                                srcset="/img/clipart/web_based.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            24/7</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            24/7 support and monitoring.</h3>
                        <p class="!mb-6">With Stalwart's managed email server service, you receive round-the-clock
                            support and
                            monitoring. Our team is available 24/7 to address any issues and provide assistance whenever
                            you need it.
                            This ensures that your email server is always monitored and maintained, providing continuous
                            service and
                            quick resolution of any problems. Our commitment to exceptional support means you can rely
                            on us to keep
                            your email system running smoothly at all times. Whether it's a routine maintenance task or
                            an emergency
                            fix, we're here to ensure your email infrastructure remains reliable and efficient.
                        </p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Advantages</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Benefits or our managed service.</h3>
                        <p class="!mb-6">Choosing Stalwart's managed email server service means entrusting your email
                            infrastructure
                            to a team of dedicated professionals who prioritize your business's needs. Our comprehensive
                            management,
                            proactive monitoring, and expert issue resolution ensure that your email server is always
                            operating at its
                            best. With tailored solutions, robust security, and 24/7 support, we provide a hassle-free
                            experience that
                            enhances your email communication and allows you to focus on what matters most—growing your
                            business. Our
                            holistic approach ensures that every aspect of your email system is optimized, secure, and
                            ready to
                            support your organizational goals.
                        </p>


                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/going_up.png"
                                srcset="/img/clipart/going_up.png 2x" alt="image"></figure>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </section>

        <!-- /section -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('include-footer.ejs', { cta: 'Let us Manage Your Email ' ,
        ctaSub: 'Learn how our managed email service can streamline your operations.' , ctaButton: 'Contact us' ,
        ctaLink: '/contact' }) %>
</body>

</html>