<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'SMTP Server | Stalwart Labs' ,
        description: 'State-of-the-art SMTP server built for unmatched security, enhanced speed, superior scalability, and extensive customization capabilities.'
        }) %>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/colors/sky.css">
        <link rel="preload" href="/fonts/urbanist/urbanist.css" as="style" onload="this.rel='stylesheet'">
        <style>
            .swiper-container.nav-color .swiper-button.swiper-button-disabled,
            .swiper-container.nav-color .swiper-slide figure .item-link.swiper-button-disabled {
                background: #5eb9f0b3 !important;
            }

            .swiper-container.nav-color .swiper-button,
            .swiper-container.nav-color .swiper-slide figure .item-link {
                background: #5eb9f0e6 !important;
                color: #ffffff !important;
            }

            .swiper-container.nav-color .swiper-button:hover,
            .swiper-container.nav-color .swiper-slide figure .item-link:hover {
                background: #5eb9f0 !important;
            }

            .navbar.navbar-light.fixed .btn:not(.btn-expand):not(.btn-gradient) {
                background: #5eb9f0 !important;
                border-color: #5eb9f0 !important;
                color: #ffffff !important;
            }

            .accordion-wrapper .card-header button {
                color: #5eb9f0;
            }

            @media (min-width: 992px) {
                .navbar-expand-lg.navbar-light .dropdown:not(.dropdown-submenu)>.dropdown-toggle:after {
                    color: #5eb9f0;
                }
            }

            @media (max-width: 991.98px) {
                .navbar-expand-lg .navbar-collapse .dropdown-toggle:after {
                    color: #ffffff !important;
                }
            }
        </style>
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper !bg-[#ffffff] ">
            <%- include('include-header.ejs') %>

        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#ffffff]">
            <div
                class="container pt-10 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] pb-[4.5rem] xl:pb-12 lg:pb-12 md:pb-12 !text-center">
                <div
                    class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] xl:mt-0 !mb-[4.5rem] items-center">
                    <div
                        class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] px-[15px] xl:px-[35px] lg:px-[20px] mt-[50px] xl:mt-0 max-w-full xl:!order-2 lg:!order-2">
                        <figure class="m-0 p-0"><img class="max-w-none h-auto" src="/img/clipart/mta_01.png"
                                srcset="/img/clipart/mta_01.png 2x" alt="image"></figure>
                    </div>
                    <!-- /column -->
                    <div
                        class="md:w-10/12 md:!ml-[8.33333333%] lg:!ml-0 lg:w-5/12 xl:!ml-0 xl:w-5/12 w-full flex-[0_0_auto] px-[15px] xl:px-[35px] lg:px-[20px] mt-[50px] xl:mt-0 max-w-full text-center lg:text-left xl:text-left">
                        <h1
                            class="xl:text-[2.7rem] text-[calc(1.395rem_+_1.74vw)] !leading-[1.15] mb-5 md:mx-[-1.25rem] lg:mx-0 mt-7">
                            Next-generation, programmable MTA</h1>
                        <p class="lead !text-[1.1rem] !leading-[1.55] font-medium mb-7">State-of-the-art SMTP server
                            built for
                            unmatched
                            security, enhanced speed, superior scalability, and extensive customization capabilities.
                        </p>
                        <span><a href="#mta"
                                class="btn btn-lg btn-sky text-white !bg-[#5eb9f0] border-[#5eb9f0] hover:text-white hover:!bg-[#5eb9f0] hover:border-[#5eb9f0] focus:shadow-[rgba(88,167,216,1)] active:text-white active:!bg-[#5eb9f0] active:border-[#5eb9f0] disabled:text-white disabled:!bg-[#5eb9f0] disabled:border-[#5eb9f0]  !rounded-[50rem] !mr-2">Learn
                                More</a></span>
                    </div>
                    <!-- /column -->
                </div>
            </div>
            <!-- /.container -->
            <div class="overflow-hidden">
                <div class="divider text-[#f0f8fe] mx-[-0.5rem]">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
                        <path fill="currentColor"
                            d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z" />
                    </svg>
                </div>
            </div>
            <!-- /.overflow-hidden -->
        </section>
        <!-- /section -->
        <section class="wrapper bg-gradient-sky">
            <div class="container pt-14 xl:pt-8 lg:pt-8 pb-[4.5rem] xl:pb-14 lg:pb-14 md:pb-14" id="mta">


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/authentication.png"
                                srcset="/img/clipart/authentication.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Sender & Message Authentication</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Comprehensive sender and message authentication.</h3>
                        <p class="!mb-6">Stalwart supports the latest standards in sender and message
                            authentication, including DMARC, SPF, DKIM, and ARC. This comprehensive support ensures that
                            every email
                            sent and received is verified for authenticity, enhancing security and trustworthiness.
                            Stalwart also
                            excels in proactive communication with other servers by sending
                            and analyzing authentication reports. This automatic exchange and examination of reports
                            allows Stalwart
                            to
                            identify and alert administrators of potential issues promptly, providing an additional
                            layer of security
                            and
                            maintaining the integrity of your email communications.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Domain-based
                                Message Authentication, Reporting, and Conformance (DMARC) verification and reporting.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>DomainKeys
                                Identified Mail (DKIM) verification, signing and failure reporting.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Sender
                                Policy Framework (SPF) policy evaluation and failure reporting.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Authenticated
                                Received Chain (ARC) verification and sealing.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Reverse
                                IP (iprev) validation.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Automatic
                                analysis of received authentication failure and abuse reports.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Strong transport security</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Robust email security at the transport layer.</h3>
                        <p class="!mb-6">Stalwart incorporates robust transport security features designed to safeguard
                            email
                            communications at the transport layer. By utilizing protocols such as DANE and MTA-STS,
                            Stalwart ensures
                            that email data remains secure during transit, preventing interception and
                            tampering. Additionally, the platform automatically analyzes incoming TLS reports, enhancing
                            its ability
                            to identify and react to potential security threats. This proactive approach to security not
                            only
                            maintains the confidentiality and integrity of email data but also fortifies the email
                            infrastructure
                            against evolving cyber threats.
                        </p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>DNS-Based
                                Authentication of Named Entities (DANE) Transport Layer Security.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>SMTP
                                MTA Strict Transport Security (MTA-STS).</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>SMTP
                                TLS Reporting (TLSRPT) delivery and analysis.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>
                                Automatic analysis of incoming TLS aggregate reports.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_transport.png"
                                srcset="/img/clipart/secure_transport.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/rewrite.png"
                                srcset="/img/clipart/rewrite.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Advanced filtering</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Enhanced filtering and rewriting.</h3>
                        <p class="!mb-6">Stalwart is equipped with a comprehensive set of filtering capabilities
                            designed to enhance
                            email security and management. Its robust spam and phishing filters effectively block
                            malicious and
                            unwanted content, maintaining the integrity of your communications. Additionally, the
                            platform's support
                            for the Sieve scripting language allows for intricate customization of filtering rules.
                            Stalwart also
                            incorporates advanced
                            control features such as inbound concurrency and rate limiting to manage and optimize the
                            flow of incoming
                            emails, ensuring efficient and secure email handling.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Built-in
                                SPAM and Phishing filtering.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Sieve
                                scripting with support for all registered extensions.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Milter
                                support for integration with external content filtering systems.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Filtering,
                                rewriting, modification and removal of message parts, envelope or headers.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Inbound
                                concurrency & rate limiting.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Flexible queues</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Advanced queue management for efficient delivery.</h3>
                        <p class="!mb-6">Stalwart enhances SMTP operations with sophisticated message queueing features
                            designed to
                            optimize and secure email delivery. The system utilizes distributed and fault-tolerant
                            queues that ensure
                            reliable message handling across diverse network conditions. With support for unlimited
                            virtual queues,
                            dynamic routing rules, and specialized delivery options, Stalwart
                            can meet varied organizational needs. Additionally, it
                            helps manage the flow and volume of outgoing messages, preventing bottlenecks and
                            maintaining system
                            efficiency.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Distributed
                                and fault-tolerant message queues.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Unlimited
                                virtual queues.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Dynamic
                                routing rules.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Delayed
                                & priority delivery support.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Outbound
                                throttling.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Queue
                                quotas.
                            </li>

                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/queue.png"
                                srcset="/img/clipart/queue.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/automation.png"
                                srcset="/img/clipart/automation.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Flexible</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Programmable MTA for modern email systems.</h3>
                        <p class="!mb-6">Stalwart stands out for its exceptional flexibility and programmability,
                            tailored to
                            meet the unique demands of any modern messaging infrastructure. It allows for extensive
                            customization
                            through dynamic configuration rules, enabling administrators to fine-tune behaviors and
                            settings in real
                            time. Additionally, the message queue is highly adaptable, supported by a wide range of
                            storage backends.
                            This versatility ensures that regardless of the scale or
                            complexity of your needs, Stalwart can be configured to deliver optimal performance and
                            reliability.
                        </p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Programmable
                                with dynamic configuration rules.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>FoundationDB,
                                RocksDB, Redis, LDAP, PostgreSQL, MySQL, and SQLite support.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>OpenTelemetry
                                support for monitoring, tracing, and performance analysis.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>REST
                                API for management.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Web-based admin</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Real-time web-based MTA monitoring.</h3>
                        <p class="!mb-6">Stalwart offers comprehensive web-based management capabilities, allowing for
                            complete
                            control of the email queue directly from your browser. Its webadmin tool simplifies the
                            administration of email queues and provides detailed insights into DMARC, TLS-RPT, and ARF
                            reports,
                            enhancing visibility into email performance and security. Developed as a Single Page
                            Application (SPA),
                            the webadmin interface is exceptionally responsive and fast, ensuring a smooth and efficient
                            management
                            experience.
                        </p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Dashboards.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Message
                                delivery history & Live tracing.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Web-based
                                queue management for messages and outbound DMARC and TLS reports.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Report
                                visualization interface for received DMARC, TLS-RPT and ARF reports.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Configuration
                                of every aspect of the SMTP server.</li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Log
                                viewer with search and filtering capabilities.</li>
                        </ul>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/dashboard.png"
                                srcset="/img/clipart/dashboard.png 2x" alt="image"></figure>
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/scalable.png"
                                srcset="/img/clipart/scalable.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            High availability</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Seamless failover with distributed queues.</h3>
                        <p class="!mb-6">With its advanced distributed message queue system, Stalwart is engineered for
                            high
                            availability. Unlike other MTAs that rely on local storage
                            for message queues, Stalwart utilizes a distributed approach. This design allows any node
                            within the
                            cluster to seamlessly take over message delivery duties if another node fails, ensuring no
                            interruption in
                            service. Such redundancy guarantees that all messages will be reliably received, maintaining
                            continuous
                            communication even in the face of hardware or network failures. This robust framework
                            provides an extra
                            layer of reliability and efficiency, making Stalwart an ideal choice for businesses that
                            cannot afford any
                            downtime.</p>

                        <ul class="pl-0 list-none bullet-bg bullet-soft-primary">
                            <li class="relative pl-6"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Distributed
                                and fault tolerant SMTP queue.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Node
                                autodiscovery, streamlining network expansion.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Network
                                partition-tolerant failure detection.
                            </li>
                            <li class="relative pl-6 mt-[0.35rem]"><i
                                    class="uil uil-check absolute left-0 w-4 h-4 text-[0.8rem] leading-none tracking-[normal] !text-center flex items-center justify-center bg-[#e2e2f3] text-[#605dba] rounded-[100%] top-[0.2rem] before:content-['\e9dd'] before:align-middle before:table-cell"></i>Simplified
                                architecture without coordinators or proxies.
                            </li>
                        </ul>
                        <!--/.row -->
                    </div>
                </div>


                <!--/.row -->
            </div>
            <!-- /.overflow-hidden -->
        </section>

    </div>
    <!-- /.content-wrapper -->
    <%- include('include-footer.ejs', { cta: 'Ready to elevate your email?' ,
        ctaSub: 'Step into the future of messaging and try us out today.' , ctaButton: 'Get Stalwart' ,
        ctaLink: '/docs/install/linux' }) %>
</body>

</html>