<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'Community Edition | Stalwart Labs' ,
        description: 'Empower your email infrastructure with our free and community-supported open-source edition. Take control of your email, own your data, and enhance your privacy and security with Stalwart.'
        }) %>


        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper bg-soft-primary !bg-[#edf2fc]">
            <%- include('include-header.ejs') %>
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#edf2fc]">
            <div
                class="container pt-10 pb-36 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-20 lg:pb-20 md:pb-20 !text-center">
                <div class="flex flex-wrap mx-[-15px]">
                    <div
                        class="md:w-8/12 lg:w-7/12 xl:w-6/12 xxl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto mb-12">
                        <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">
                            Community
                            edition</h1>
                        <p class="lead leading-[1.65] text-[0.9rem] font-medium lg:!px-7 xl:!px-7 xxl:!px-6">Empower
                            your email
                            infrastructure with our free and <span
                                class="relative z-[2] whitespace-nowrap after:content-[''] after:block after:absolute after:w-[102.5%] after:h-[30%] after:left-[-1.5%] after:z-[-1] after:transition-all after:duration-[0.2s] after:ease-in-out after:mt-0 after:rounded-[5rem] after:bottom-[9%] motion-reduce:after:transition-none after:bg-[rgba(63,120,224,.12)]">community-supported</span>
                            edition.</p>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
        <section
            class="wrapper !bg-[#ffffff]  angled upper-end !relative border-0 before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:!border-y-transparent before:border-0 before:border-solid before:right-0 after:top-[-4rem] after:border-l-transparent after:border-r-[100vw] after:border-t-[4rem] after:border-[#fefefe] after:content-[''] after:block after:absolute after:z-0 after:!border-y-transparent after:border-0 after:border-solid after:right-0">
            <div class="container !pb-[4.5rem] xl:!pb-24 lg:!pb-24 md:!pb-24">


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/mailbox.png"
                                srcset="/img/clipart/mailbox.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Total control</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Take control of your email.</h3>
                        <p class="!mb-6">Experience the freedom and flexibility of running your own email server with
                            Stalwart Open
                            Source Edition. As an open-source solution, Stalwart ensures you have complete ownership and
                            control over
                            your data. Enjoy the peace of mind that comes with knowing your emails are securely managed
                            without being
                            used to train AI models or compromised in any way. Open-source software provides
                            unparalleled
                            transparency, allowing you to audit and verify the security and integrity of your email
                            server's code,
                            ensuring your privacy and data protection are always a top priority.</p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Own your data</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Your data, your rules.</h3>
                        <p class="!mb-6">With Stalwart, you maintain full ownership of your email data. Unlike
                            third-party email
                            services, where your information can be stored on unknown servers and potentially accessed
                            by others,
                            Stalwart guarantees that your data remains private and secure on your own infrastructure.
                            This means you
                            decide how your data is managed, stored, and accessed, giving you total control over your
                            email
                            communications. You can implement your own security measures and policies, ensuring that
                            your emails are
                            protected according to your standards and preferences.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/private_data.png"
                                srcset="/img/clipart/private_data.png 2x" alt="image"></figure>
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/gdpr.png"
                                srcset="/img/clipart/gdpr.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Privacy and security</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Enhanced privacy and security.</h3>
                        <p class="!mb-6">Privacy is at the core of Stalwart's design. By using our open-source edition,
                            you ensure
                            that your emails are protected from unauthorized access and surveillance. Stalwart's robust
                            security
                            features, such as encryption, spam filtering, and authentication protocols, work together to
                            keep your
                            communications safe. The transparency of open-source code allows for continuous community
                            scrutiny and
                            improvement, providing an additional layer of security. With Stalwart, you can be confident
                            that your
                            email server is not only private but also resilient against emerging threats.</p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Transparent & Trustworthy</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Transparency and trust.</h3>
                        <p class="!mb-6">Open-source software means transparency. With Stalwart, you can review, audit,
                            and verify
                            the code yourself. This transparency builds trust, as you can be confident that there are no
                            hidden
                            backdoors or malicious code. You can also benefit from the collaborative efforts of the
                            open-source
                            community, who constantly work to identify and fix vulnerabilities. This collective
                            vigilance ensures that
                            Stalwart remains a trustworthy and reliable email solution, giving you peace of mind that
                            your
                            communications are protected by a secure and transparent system.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_transport.png"
                                srcset="/img/clipart/secure_transport.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/community.png"
                                srcset="/img/clipart/community.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Community innovation</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Community-driven innovation.</h3>
                        <p class="!mb-6">Join a thriving community of developers and users who contribute to and benefit
                            from
                            Stalwart's continuous improvement. The collective expertise and collaborative efforts of the
                            community
                            ensure that Stalwart remains a cutting-edge and reliable email solution. By participating in
                            the
                            community, you can share your ideas, report issues, and contribute to the development of new
                            features.
                            This collaborative environment fosters innovation and rapid advancement, keeping Stalwart at
                            the forefront
                            of email technology and ensuring that it meets the evolving needs of its users.</p>


                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Cost-effective email</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Cost-effective solution</h3>
                        <p class="!mb-6">Eliminate the costs associated with proprietary email services by switching to
                            Stalwart
                            Community Edition. Enjoy a powerful, feature-rich email server without the need for
                            expensive licenses
                            or subscriptions. By using open-source software, you can allocate your budget to other
                            critical areas of
                            your organization while still benefiting from a robust email solution. Additionally, the
                            flexibility to
                            customize and scale the server according to your needs ensures that you only pay for the
                            resources you
                            use, making Stalwart a cost-effective choice for organizations of all sizes.
                        </p>


                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/savings.png"
                                srcset="/img/clipart/savings.png 2x" alt="image"></figure>
                    </div>
                </div>



                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/flexible_store.png"
                                srcset="/img/clipart/flexible_store.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Flexible customization</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Flexibility and customization.</h3>
                        <p class="!mb-6">Stalwart's open-source nature allows for extensive customization to meet your
                            specific
                            needs. Tailor the server's functionality, integrate with other tools, and extend its
                            capabilities to
                            create a bespoke email solution that fits your exact requirements. Whether you need specific
                            features,
                            unique configurations, or integrations with existing systems, Stalwart provides the
                            flexibility to adapt
                            and evolve. This customization ensures that your email server can grow with your
                            organization, providing
                            long-term value and efficiency.</p>
                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Data integrity</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            No data exploitation.</h3>
                        <p class="!mb-6">Rest assured that your emails are not used to train AI models or for any other
                            purpose
                            beyond your control. Stalwart respects your data privacy and ensures that your information
                            remains solely
                            within your domain. Unlike commercial email services that may exploit user data for various
                            purposes,
                            Stalwart's commitment to privacy means that your communications are used only as intended.
                            This ethical
                            approach to data management reinforces your trust in the platform and ensures that your
                            privacy is always
                            protected.</p>


                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/secure_encryption.png"
                                srcset="/img/clipart/secure_encryption.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/oss.png"
                                srcset="/img/clipart/oss.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Open licensing</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            AGPLv3 license.</h3>
                        <p class="!mb-6">Stalwart Community Edition is released under the AGPLv3 license, ensuring
                            that it remains
                            free and open for everyone. This license promotes collaboration and sharing while protecting
                            the freedoms
                            to use, modify, and distribute the software. By adhering to the principles of the AGPLv3,
                            Stalwart fosters
                            an environment of innovation and mutual benefit, encouraging contributions from a diverse
                            community of
                            developers and users. This licensing model ensures that Stalwart remains a transparent,
                            secure, and
                            continually evolving email solution.</p>
                        <!--/.row -->
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </section>

        <!-- /section -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('include-footer.ejs', { cta: 'Support the Future of Open Source Email' ,
        ctaSub: 'Help us enhance and expand Stalwart by sponsoring open source development.' ,
        ctaButton: 'Become a sponsor' , ctaLink: 'https://github.com/sponsors/stalwartlabs' }) %>
</body>

</html>