<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'Small Business Edition | Stalwart Labs' ,
        description: 'Empower your email infrastructure with our free and community-supported open-source edition. Take control of your email, own your data, and enhance your privacy and security with Stalwart.'
        }) %>


        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper bg-soft-primary !bg-[#edf2fc]">
            <%- include('include-header.ejs') %>
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#edf2fc]">
            <div
                class="container pt-10 pb-36 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-20 lg:pb-20 md:pb-20 !text-center">
                <div class="flex flex-wrap mx-[-15px]">
                    <div
                        class="md:w-8/12 lg:w-7/12 xl:w-6/12 xxl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto mb-12">
                        <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">
                            Small Business
                            edition</h1>
                        <p class="lead leading-[1.65] text-[0.9rem] font-medium lg:!px-7 xl:!px-7 xxl:!px-6">
                            Get enterprise features at an affordable price, tailored for
                            <span
                                class="relative z-[2] whitespace-nowrap after:content-[''] after:block after:absolute after:w-[102.5%] after:h-[30%] after:left-[-1.5%] after:z-[-1] after:transition-all after:duration-[0.2s] after:ease-in-out after:mt-0 after:rounded-[5rem] after:bottom-[9%] motion-reduce:after:transition-none after:bg-[rgba(63,120,224,.12)]">small
                                teams and growing businesses</span>
                            .
                        </p>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
        <section
            class="wrapper !bg-[#ffffff]  angled upper-end !relative border-0 before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:!border-y-transparent before:border-0 before:border-solid before:right-0 after:top-[-4rem] after:border-l-transparent after:border-r-[100vw] after:border-t-[4rem] after:border-[#fefefe] after:content-[''] after:block after:absolute after:z-0 after:!border-y-transparent after:border-0 after:border-solid after:right-0">
            <div class="container !pb-[4.5rem] xl:!pb-24 lg:!pb-24 md:!pb-24">


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/flexible_store.png"
                                srcset="/img/clipart/flexible_store.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Same Features, Affordable Price</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Full Enterprise Features, Designed for Small Teams.</h3>
                        <p class="!mb-6">
                            The Stalwart Mail Server Small Business Edition offers the same powerful features as our <a
                                href="/enterprise">Enterprise
                                edition</a> edition, but is exclusively available to businesses with up to 150 users.
                            This edition is designed for smaller teams that need robust email capabilities without the
                            added cost of Premium Support. Enjoy all the benefits of an enterprise-grade mail server
                            such as dashboards,
                            multi-tenancy, live tracing, and branding without breaking the bank. </p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Support the Project</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Unlock the Small Business License.</h3>
                        <p class="!mb-6">There are two ways to obtain the Stalwart Mail Server Small Business License:
                            either by becoming a GitHub Sponsor or by purchasing it directly from Stalwart Labs. As a
                            GitHub Sponsor, your contributions help fund ongoing development, and you automatically
                            receive the license as a thank-you for your support. Alternatively, you can contact us to
                            purchase the license directly and enjoy all the powerful features of the Small Business
                            Edition. Either way, your support ensures the continued growth and innovation of Stalwart
                            Mail Server.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/going_up.png"
                                srcset="/img/clipart/going_up.png 2x" alt="image"></figure>
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/community.png"
                                srcset="/img/clipart/community.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Community Support</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Access Community-Driven Support.</h3>
                        <p class="!mb-6">While the Small Business Edition doesn't include our Premium Support package,
                            you'll still have access to our community support. Join a vibrant and active community of
                            users who are eager to help, troubleshoot issues, and share best practices. Whether through
                            GitHub discussions, Discord, or other community channels, you'll find a wealth of knowledge
                            to help you get the most out of Stalwart Mail Server.</p>
                        <!--/.row -->
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </section>

        <!-- /section -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('include-footer.ejs', { cta: 'Enterprise Power, Tailored for Small Teams' ,
        ctaSub: 'Get enterprise-grade email at a price designed for small teams -- starts at $60 per year.' ,
        ctaButton: 'Purchase' , ctaLink: 'https://license.stalw.art/buy' }) %>
</body>

</html>