<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('include-meta.ejs', { title: 'Premium Support | Stalwart' ,
        description: 'Gain access to priority support, custom SLAs, and expert guidance with our professional support service.'
        , }) %>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
        <link rel="stylesheet" href="/css/plugins.css">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="grow shrink-0">
        <header class="relative wrapper bg-soft-primary !bg-[#edf2fc]">
            <%- include('include-header.ejs') %>
                <!-- /.navbar -->
        </header>
        <!-- /header -->
        <section class="wrapper !bg-[#edf2fc]">
            <div
                class="container pt-10 pb-36 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-20 lg:pb-20 md:pb-20 !text-center">
                <div class="flex flex-wrap mx-[-15px]">
                    <div
                        class="md:w-8/12 lg:w-7/12 xl:w-6/12 xxl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto mb-12">
                        <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">
                            Premium support
                        </h1>
                        <p class="lead leading-[1.65] text-[0.9rem] font-medium lg:!px-7 xl:!px-7 xxl:!px-6">
                            Gain access to priority support, custom SLAs, and expert guidance
                            with our <span
                                class="relative z-[2] whitespace-nowrap after:content-[''] after:block after:absolute after:w-[102.5%] after:h-[30%] after:left-[-1.5%] after:z-[-1] after:transition-all after:duration-[0.2s] after:ease-in-out after:mt-0 after:rounded-[5rem] after:bottom-[9%] motion-reduce:after:transition-none after:bg-[rgba(63,120,224,.12)]">professional
                                support</span>
                            service.</p>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
        <section
            class="wrapper !bg-[#ffffff]  angled upper-end !relative border-0 before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:!border-y-transparent before:border-0 before:border-solid before:right-0 after:top-[-4rem] after:border-l-transparent after:border-r-[100vw] after:border-t-[4rem] after:border-[#fefefe] after:content-[''] after:block after:absolute after:z-0 after:!border-y-transparent after:border-0 after:border-solid after:right-0">
            <div class="container !pb-[4.5rem] xl:!pb-24 lg:!pb-24 md:!pb-24">


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/support.png"
                                srcset="/img/clipart/support.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Enterprise support</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Priority support for enterprise needs.</h3>
                        <p class="!mb-6">With Stalwart Premium Support, your organization gains access to priority
                            support
                            tailored specifically to meet your enterprise needs. Whether you require assistance via
                            email or phone,
                            our expert team is ready to provide swift, reliable solutions to keep your email system
                            running smoothly.
                            Our highly trained support staff understands the intricacies of email infrastructure and can
                            quickly
                            diagnose and resolve issues, ensuring minimal disruption to your operations. By choosing
                            Stalwart
                            Premium Support, you ensure that your team can resolve issues quickly and effectively,
                            minimizing
                            downtime and maintaining optimal performance. This level of support is crucial for
                            maintaining the
                            productivity and efficiency of your business.
                        </p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Rapid bug fixing</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Expedited bug fixing for seamless operation.</h3>
                        <p class="!mb-6">One of the key benefits of Stalwart Premium Support is priority bug fixing. Our
                            dedicated team prioritizes the resolution of critical issues, ensuring that any disruptions
                            to your email
                            service are addressed promptly. This proactive approach helps maintain the stability and
                            reliability of
                            your email infrastructure, allowing your business to operate without interruption. By
                            focusing on rapid
                            bug resolution, we help you avoid prolonged outages and the potential loss of important
                            communications.
                            This commitment to swift and effective problem-solving reinforces the dependability of your
                            email system,
                            providing you with the assurance that your operations will continue seamlessly.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/bug.png"
                                srcset="/img/clipart/bug.png 2x" alt="image"></figure>
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/terms.png"
                                srcset="/img/clipart/terms.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Tailored SLA</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Custom SLAs tailored to your business.</h3>
                        <p class="!mb-6">Understanding that every organization has unique requirements, Stalwart offers
                            custom
                            Service Level Agreements (SLAs) upon request. These SLAs are tailored to align with your
                            specific needs,
                            defining the level of service, performance standards, and response times you can expect. By
                            establishing a
                            custom SLA, you ensure that Stalwart's support services are perfectly suited to your
                            operational demands,
                            providing peace of mind and reliability. Custom SLAs offer the flexibility to specify the
                            exact terms of
                            support, including priority response times, dedicated support hours, and specific
                            performance metrics.
                            This personalized approach ensures that your organization receives the precise level of
                            support necessary
                            to maintain your email infrastructure at its best.</p>
                        <!--/.row -->
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Roadmap influence</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Influence product development.</h3>
                        <p class="!mb-6">Subscribers to Stalwart Premium Support gain a unique opportunity to influence
                            the
                            product's roadmap. Your feedback and suggestions help shape the future development of
                            Stalwart, ensuring
                            that the platform evolves to meet the changing needs of your business. This collaborative
                            approach ensures
                            that Stalwart remains a cutting-edge solution, continually adapting to the latest industry
                            trends and user
                            requirements. By participating in the development process, you can advocate for features and
                            improvements
                            that are most relevant to your operations, ensuring that the platform grows in ways that
                            directly benefit
                            your business. This partnership not only enhances the functionality of Stalwart but also
                            strengthens the
                            alignment between the product and your strategic goals.</p>
                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/customize.png"
                                srcset="/img/clipart/customize.png 2x" alt="image"></figure>
                    </div>
                </div>


                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/instant_support.png"
                                srcset="/img/clipart/instant_support.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Comprehensive guidance</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Comprehensive support and guidance.</h3>
                        <p class="!mb-6">Stalwart Premium Support goes beyond troubleshooting to provide comprehensive
                            guidance
                            and best practices for managing your email infrastructure. Our experts are available to
                            advise on optimal
                            configurations, security enhancements, and performance improvements, helping you get the
                            most out of your
                            Stalwart deployment. This level of support ensures that your email system is not only
                            functional but also
                            optimized for efficiency and security. Our team can assist with complex configurations,
                            integration with
                            other systems, and long-term strategic planning, providing you with a holistic approach to
                            email
                            management. This proactive support helps you anticipate and mitigate potential issues,
                            ensuring that your
                            email infrastructure remains robust and resilient.</p>


                        <!--/.row -->
                    </div>
                </div>

                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Dedicated account</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Dedicated account management.</h3>
                        <p class="!mb-6">With Stalwart Premium Support, you benefit from dedicated account management.
                            This
                            personalized service ensures that you have a single point of contact who understands your
                            business and can
                            provide tailored support. Your account manager will work closely with you to understand your
                            needs,
                            coordinate support efforts, and ensure that you receive the highest level of service. This
                            relationship-based approach means that your account manager becomes a trusted advisor,
                            familiar with your
                            infrastructure and capable of offering customized solutions. Whether you need assistance
                            with a specific
                            project or ongoing support, your dedicated account manager is there to ensure that your
                            experience with
                            Stalwart is consistently positive and productive.
                        </p>


                        <!--/.row -->
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/dedicated_support.png"
                                srcset="/img/clipart/dedicated_support.png 2x" alt="image"></figure>
                    </div>
                </div>



                <div
                    class="flex flex-wrap mx-[-15px] xsm:mt-[-50px] mt-[-80px] md:mx-[-20px] xl:mx-[-35px] items-center mb-10 xl:!mb-14 lg:!mb-14 md:!mb-14">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <figure class="m-0 p-0"><img class="w-auto" src="/img/clipart/going_up.png"
                                srcset="/img/clipart/going_up.png 2x" alt="image"></figure>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] px-[15px] max-w-full mt-[80px]">
                        <h2
                            class="text-[0.8rem] !tracking-[0.02rem] !leading-[1.35] uppercase text-gradient gradient-1 !mb-3">
                            Advantages</h2>
                        <h3
                            class="xl:text-[1.9rem] text-[calc(1.315rem_+_0.78vw)] font-semibold !leading-[1.25] tracking-[normal] mb-4">
                            Benefits of professional support.</h3>
                        <p class="!mb-6">Investing in Stalwart Premium Support means prioritizing the reliability and
                            efficiency of your email infrastructure. With priority support, expedited bug fixing, custom
                            SLAs, and the
                            ability to influence product development, you gain a strategic partner dedicated to your
                            success. Enhance
                            your email system's performance and security with the expert guidance and dedicated
                            resources that come
                            with Stalwart Premium Support. Our comprehensive support services are designed to provide
                            you with
                            the confidence and peace of mind that your email infrastructure is in capable hands. By
                            choosing Stalwart
                            Premium Support, you ensure that your organization is well-equipped to handle the
                            complexities of
                            modern email management, allowing you to focus on your core business activities.</p>
                        <!--/.row -->
                    </div>
                </div>




            </div>
            <!-- /.container -->
        </section>

        <!-- /section -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('include-footer.ejs', { cta: 'Ensure Unmatched Reliability' ,
        ctaSub: 'Contact us now to obtain a personalized support quote.' , ctaButton: 'Contact us' , ctaLink: '/contact'
        }) %>
</body>

</html>